.navbar {
  display: flex;
  justify-content: flex-end; /* Push items to the right */
  align-items: center;
  background-color: var(--bg-primary);
  color: white;
  padding: 0 20px;
  height: 45px;
  /* super slight shadow */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  text-decoration: none;
  transition: color 0.3s, transform 0.2s;
  padding: 5px;
  border-radius: 4px;
}

.nav-link:hover {
  color: var(--accent-primary);
  transform: translateY(-2px);
}

.nav-link.active {
  color: var(--accent-primary);
  font-weight: 500;
}

.nav-icon {
  margin-right: 5px;
  font-size: 1.2rem;
}